<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User:<a href="{{ user.get_absolute_url }}">
      {{ user.get_username }}</a>
    </li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">
      Logout</a>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">
      Login</a>
    </li>
  {% endif %}

  <br>

  <li class="list-group-item">
    <a href="{% url 'taxi:index' %}" class="custom-btn">
      Home
    </a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'taxi:driver-list' %}" class="custom-btn">
      All drivers
    </a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'taxi:car-list' %}" class="custom-btn">
      All cars
    </a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'taxi:manufacturer-list' %}" class="custom-btn">
      All manufacturers
    </a>
  </li>
</ul>
